
@import  'tailwindcss';

.text{
  color: #f1f1f1;
}


.scrollbar-purple::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-purple::-webkit-scrollbar-track {
  background: transparent; 
}

.scrollbar-purple::-webkit-scrollbar-thumb {
  background-color: #7e22ce; 
  border-radius: 9999px;
  border: 2px solid transparent; 
}

.scrollbar-purple::-webkit-scrollbar-thumb:hover {
  background-color: #9333ea; 
}

.scrollbar-purple {
  scrollbar-width: thin;
  scrollbar-color: #7e22ce transparent;
}